body {
    background-color: rgb(139, 160, 130);
}

h1 {
    font-size: 45px;
}



input, select, button{
    padding: 15px;
}

.container{
    padding: 50px;
    text-align: center;
    margin-top: 50px;
}

#titulo {
    margin-bottom: 50px;
}

#resultado{
    margin-top: 50px;
}