input, select, button {
    padding: 10px;
}

.container {
    border: 1px solid;
    padding: 50px;
    text-align: center;
    margin-top: 50px;
    background-color: rgb(139, 214, 255) ;
    border-radius: 50px;
    margin: 0px 200px 0px 200px ;
}

.mensagem-usuario {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgb(235, 200, 157);
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;

}

.oculto{
    display: none;
}


#titulo { 
    margin-bottom: 50px;
}

#resultado {
    margin-top: 50px;
}